

    <div class="new-game-wrap" ng-controller="NewGameController">
        <h1 class="center">Add a new game</h1>

        <div class="row center">
        	Game Name: <input type="text" ng-model="gameName" value="Name of Game">
        </div>

        <div class="row">
          <div class="columns4 cell right">
            Player One: 
            </div>
          <div class="columns4 cell center">
            <input type="text" ng-model="playerOne" value="Player One">
          </div>
          <div class="columns4 cell right">
            Player One Score: 
          </div>
          <div class="columns4 cell center">
            <input type="text" ng-model="playerOneScore" value="Player One Score">
          </div>
        </div>

        <div class="row">
          <div class="columns4 cell right">
            Player Two:
          </div> 
          <div class="columns4 cell center">
            <input type="text" ng-model="playerTwo" value="Player Two">
          </div>

          <div class="columns4 cell right">
            Player Two Score:
          </div> 
          <div class="columns4 cell center">
            <input type="text" ng-model="playerTwoScore" value="Player Two Score">
          </div>
        </div>

        <div class="row">
          <div class="columns4 cell right">
            Player Three: 
          </div>
          <div class="columns4 cell center">
            <input type="text" ng-model="playerThree" value="Player Three">
          </div>
          <div class="columns4 cell right">
            Player Three Score:
          </div>
          <div class="columns4 cell center">
             <input type="text" ng-model="playerThreeScore" value="Player Three Score">
          </div>
        </div>

        <div class="row">
          <div class="columns4 cell right">
            Player Four: 
          </div>
          <div class="columns4 cell center">
            <input type="text" ng-model="playerFour" value="Player Four">
          </div>
          <div class="columns4 cell right">
            Player Four Score:
          </div>
          <div class="columns4 cell center">
             <input type="text" ng-model="playerFourScore" value="Player Four Score">
          </div>
        </div>

        <div class="row center">
        Winner: <input type="text" ng-model="winner" value="Winner">
        </div>

        <div class="row center">
        <a href="#"><button class="add-game" ng-click="addGame()">Submit</button></a>
        </div>

        <div class="display-new-game" ng-show="created">
          <div class="row">Game ID: {{$scope.gameData.id}}</div>
          <div class="row">Name: {{$scope.gameData.name}}</div>
          <div class="players-list" ng-repeat="item in gameData.players">
            <ul>
              <li>{{item.id}}</li>
              <li>{{item.email}}</li>
              <li>{{item.score}}</li>
              <li>{{item.result}}</li>
            </ul>
          </div>
         
        </div>

     </div> 
    