<div class="new-player-wrap" ng-controller="NewPlayerController">
  <div class="row">
          <div class="columns4 cell right">
            Name: 
            </div>
          <div class="columns4 cell center">
            <input type="text" ng-model="playerOne" value="Player One">
          </div>
          <div class="columns4 cell right">
            Email: 
          </div>
          <div class="columns4 cell center">
            <input type="text" ng-model="playerOneScore" value="Player One Score">
          </div>
  </div>
</div>
    